@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fffedb;
}


#cabecalho {
    background-color: #383939;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#cabecalho a img {
    width: 5.5rem;
}

.container {
    margin: 6rem 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subcontainer {
    max-width: 60rem;
    margin-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #bfbfbf;
}

.menu a {
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    padding-right: 30px;
    position: relative;
}

.menu a::after {
    content: " ";
    width: 0px;
    height: 4px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #38c958, #aee637);
    position: absolute;
    top: 25px;
    left: 0;
    transition: width 0.5s;
}

.menu a:hover::after {
    width: 75%;
    border-radius: 5px;
}

#link {
    background-color: #fffedb;
    border: solid 1px #2d2e2e;
    color: #2d2e2e;
    border-radius: 8px;
    width: 100px;
}

#link:hover {
    background-color: #2d2e2e;
    color: aliceblue;
}